/* header css */

.header-container {
    padding: 1em 2em;
    background-color: #F2EAF4;
    position: fixed;
    width: 100%;
}
.header-container a {
    font-size: 1.125rem;
    line-height: 2.5em;
}
.active-header-link {
    background: #F2EAF4;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    width: 80%;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    overflow: hidden;
    width: auto;
  }

  .home-container-logo{
    padding-top: 2%;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    padding-top: 3.5%;
    width: 30px;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    margin-bottom: 2%;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 900px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li .header-button {
        background-color: transparent;
        box-shadow: none;
        height: 2.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        font-size: 1.125rem !important;
        padding: 0;
      }

    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: gray;
      z-index: 1;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }

    .header-button:hover {
        color: black;
    }

    .first-text{
        margin-top: 10%;
    }    
  }

.toggled-menu {
    padding-bottom: 16.9rem !important;
}

.header-button {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white
}

.menu-icon > div {
    width: 25px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 4px 0;
}

/* first view css */
.home-container {
    padding: 7% 8% 0% 8%;
}

.home-left-section {
    width: 40%;
}
.home-right-section {
    width: 60%;
}
.home-image {
    width: inherit;
    max-width: 100%;
    min-width: 100%;
}

/* goals css */
.goals-container {
    padding: 3% 8%;
}
.goals-container > div {
    padding-left: 7%;
    padding-right: 7%;
}
.goals-container p {
    line-height: 1.375rem!important;
}

/* tabs css */
.custom-nav-tabs.nav-tabs {
    border: none;
    /* padding: 0% 10%; */
}
.custom-nav-tabs .nav-link {
    border: none!important;
    border-radius: 16px 16px 0px 0px!important;
    font-size: calc(1.325rem + .9vw)!important;
    color: #818174;
    /* width: 50%; */
}
.custom-nav-tabs .nav-link:hover {
    color: #323031;
}
.custom-nav-tabs .nav-link.active {
    font-weight: 600;
    color: #323031!important;
    border: none!important;
    background-color: #FAF6FA!important;
}

.flex-custom-space-between > div {
    padding: 0 2rem;
}

.tabs-container {
    padding: 2.5rem 8% 3% 8%;
}

.tabs-container p {
    font-size: 1.125rem;
}

.tabs-container a {
    font-size: 1.125rem;
}

.subsection-image {
    width: 100%;
}

.ready-section {
    padding: calc(2rem + 2vw) 0rem calc(3rem + 2vw) 0rem;
}

@media only screen and (max-width: 900px) {
    .home-container > div:first-child {
        margin-bottom: 32px;
    }
    .home-container {
        padding: 7% 8% 3% 8%;
    }
    .home-container > div {
        width: 100%;
    }
    .goals-container {
        padding: 5%;
        padding-top: 7.5%;
    }
    .goals-container > div {
        padding: 0%;
    }
    .goals-container >div:not(:last-child) {
        margin-bottom: 5%;
    }
    .flex-custom-space-between > div {
        padding: 0!important;
    }
    .flex-custom-space-between > div:not(:last-child) {
        margin-bottom: 5%;
    }

    .custom-nav-tabs .nav-link {
        color: #818174;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .flex-custom-space-between > div:not(:last-child) {
        margin-bottom: 10%;
    }
    .home-container {
        padding: 7% 5% 3% 5%;
    }
    .tabs-container {
        padding: 2rem 5% 3% 5%;
    }
}