<div>
    <link href="./accountType.css" rel="stylesheet" />
    <div>
      <div class="web-app-account-choice-web-app-account-choice">
        <span class="web-app-account-choice-text">
          What would you like to do?
        </span>
        <img
          alt="Rectangle411508469"
          src="/playground_assets/f764de05-6ea1-4846-8361-63da8761ebe1-fg2.svg"
          class="web-app-account-choice-rectangle411"
        />
        <img
          alt="Rectangle412508470"
          src="/playground_assets/bcb8a319-d3ad-498d-8c29-5dd14da33b5e-fqm.svg"
          class="web-app-account-choice-rectangle412"
        />
        <span class="web-app-account-choice-text01">Look for a job</span>
        <span class="web-app-account-choice-text02">Set up an organisation</span>
        <div class="web-app-account-choice-group967">
          <img
            alt="Rectangle41508474"
            src="/playground_assets/bf20d825-a5db-4aba-974f-502f568aade5-vr9s.svg"
            class="web-app-account-choice-svg"
          />
          <a href="personalSetup.html" class="web-app-account-choice-text03 roboto-Button">
            Get Started
          </a>
        </div>
        <div class="web-app-account-choice-group968">
          <img
            alt="Rectangle41508477"
            src="/playground_assets/1f9aa78d-ba3a-4d4c-9cdd-dddae8a22f1d-mavv.svg"
            class="web-app-account-choice-svg1"
          />
          <a href="personalSetup.html" class="web-app-account-choice-text03 roboto-Button">
            Get Started
          </a>
        </div>
        <span class="web-app-account-choice-text05 roboto-Body2">
          Set up your divisions, teams and squads
        </span>
        <span class="web-app-account-choice-text06 roboto-Body2">
          Apply for fulfilling jobs
        </span>
        <span class="web-app-account-choice-text07 roboto-Body2">
          Manage team happiness
        </span>
        <span class="web-app-account-choice-text08 roboto-Body2">
          Create job postings and manage applications
        </span>
        <span class="web-app-account-choice-text09">
          Looking to join an existing Organisation?
        </span>
        <img
          alt="Ellipse116508491"
          src="/playground_assets/b42ab7ca-bed9-44d8-85ae-5f3ba3860e04-wv2o.svg"
          class="web-app-account-choice-svg2"
        />
        <img
          alt="Ellipse123976108"
          src="/playground_assets/bc67423f-4cee-49e7-ba3d-16c5c2d2037c-lpws.svg"
          class="web-app-account-choice-svg3"
        />
        <span class="web-app-account-choice-text10 roboto-Body2">
          Ask your administrator for an invitation to join
        </span>
        <img
          alt="Ellipse122508520"
          src="/playground_assets/4cadd5cd-0137-4f66-962a-078bb04e3db0-58ao.svg"
          class="web-app-account-choice-svg4"
        />
        <img
          alt="Ellipse121508518"
          src="/playground_assets/59868951-afce-4d58-a253-e5586c5c8ca6-v3vp.svg"
          class="web-app-account-choice-svg5"
        />
        <img
          alt="Ellipse117508494"
          src="/playground_assets/e47d3b7a-88c5-437b-81ba-fc4bbff85634-4yaw.svg"
          class="web-app-account-choice-svg6"
        />
        <img
          alt="Ellipse124976109"
          src="/playground_assets/9dcf40f0-a29a-4e55-be94-f8c7bfe030c9-ji6b.svg"
          class="web-app-account-choice-svg7"
        />
        <span class="web-app-account-choice-text11 roboto-Body2">
          Add roles and invite people to join
        </span>
        <span class="web-app-account-choice-text12 roboto-Body2">
          Connect with people that can help
        </span>
        <div class="web-app-account-choice-dark-mode-toggle-dark">
          <img
            alt="Rectangle1066I936696936654"
            src="/playground_assets/9278a1f8-e792-4ba2-a9dd-e78bd390a9e4-e4sg.svg"
            class="web-app-account-choice-rectangle1066"
          />
          <img
            alt="Ellipse126I936696936655"
            src="/playground_assets/dec532ef-3232-4872-8a5d-3598532f0c99-vdh.svg"
            class="web-app-account-choice-svg8"
          />
          <div class="web-app-account-choice-group1574">
            <img
              alt="Rectangle1109I936696936657"
              src="/playground_assets/e3111cea-0c9a-431f-bb80-e852863a8258-ko8a-200h.png"
              class="web-app-account-choice-rectangle1109"
            />
            <img
              alt="GroupI936696936658"
              src="/playground_assets/6d709ba5-ed31-46b6-b6d8-582a4f81d739-8ljg.svg"
              class="web-app-account-choice-group"
            />
          </div>
        </div>
        <img
          alt="Rectangle1976086"
          src="/playground_assets/4588548b-f0f4-448c-aba0-c9fb74e970c1-e0zi.svg"
          class="web-app-account-choice-rectangle1"
        />
        <div class="web-app-account-choice-team-bond-symbol1">
          <div class="web-app-account-choice-group1">
            <div class="web-app-account-choice-group2">
              <img
                alt="Layer1976090"
                src="/playground_assets/8a019fd1-8c32-4e75-b419-081d57a7368d-idg.svg"
                class="web-app-account-choice-layer1"
              />
            </div>
          </div>
        </div>
        <span class="web-app-account-choice-text13">TeamBond</span>
      </div>
    </div>
  </div>