.web-app-account-choice-web-app-account-choice {
    width: 1440px;
    height: 907px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: var(--dl-color-default-whiteebaee);
  }
  .web-app-account-choice-text {
    top: 133px;
    left: 504px;
    color: var(--dl-color-default-charcoalf2717);
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 600px;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
  .web-app-account-choice-rectangle411 {
    top: 233px;
    left: 738px;
    width: 360px;
    height: 440px;
    position: absolute;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30000001192092896) ;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 16px;
    background-color: var(--dl-color-default-whiteebaee);
  }
  .web-app-account-choice-rectangle412 {
    top: 233px;
    left: 343px;
    width: 360px;
    height: 440px;
    position: absolute;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.30000001192092896) ;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 16px;
    background-color: var(--dl-color-default-whiteebaee);
  }
  .web-app-account-choice-text01 {
    top: 273px;
    left: 778px;
    color: var(--dl-color-default-charcoalf2717);
    width: 280px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    font-size: 26px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 500px;
    line-height: 32px;
    font-stretch: normal;
    text-decoration: none;
  }
  .web-app-account-choice-text02 {
    top: 273px;
    left: 378px;
    color: var(--dl-color-default-charcoalf2717);
    width: 285px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    font-size: 26px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 500px;
    line-height: 32px;
    font-stretch: normal;
    text-decoration: none;
  }
  .web-app-account-choice-group967 {
    top: 589px;
    left: 778px;
    width: 280px;
    height: 44px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-account-choice-svg {
    width: 280;
    height: 44;
    position: absolute;
  }
  .web-app-account-choice-text03 {
    top: 9.3330078125px;
    left: 49.48125076293945px;
    color: var(--dl-color-default-whiteebaee);
    width: 184px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
  }
  .web-app-account-choice-group968 {
    top: 589px;
    left: 383px;
    width: 280px;
    height: 44px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-account-choice-svg1 {
    width: 280;
    height: 44;
    position: absolute;
  }
  .web-app-account-choice-text04 {
    top: 9.3330078125px;
    left: 49.48129653930664px;
    color: var(--dl-color-default-whiteebaee);
    width: 184px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
  }
  .web-app-account-choice-text05 {
    top: 341px;
    left: 410px;
    color: var(--dl-color-default-darkgray34085);
    width: 253px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-account-choice-text06 {
    top: 332px;
    left: 805px;
    color: var(--dl-color-default-darkgray34085);
    width: 253px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-account-choice-text07 {
    top: 457px;
    left: 410px;
    color: var(--dl-color-default-darkgray34085);
    width: 253px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-account-choice-text08 {
    top: 515px;
    left: 410px;
    color: var(--dl-color-default-darkgray34085);
    width: 253px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-account-choice-text09 {
    top: 733px;
    left: 484px;
    color: var(--dl-color-default-charcoalf2717);
    width: 471px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 600px;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .web-app-account-choice-svg2 {
    top: 344px;
    left: 383px;
    width: 10;
    height: 10;
    position: absolute;
  }
  .web-app-account-choice-svg3 {
    top: 344px;
    left: 778px;
    width: 10;
    height: 10;
    position: absolute;
  }
  .web-app-account-choice-text10 {
    top: 785px;
    left: 571px;
    color: var(--dl-color-default-darkgray34085);
    width: 297px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-account-choice-svg4 {
    top: 518px;
    left: 383px;
    width: 10;
    height: 10;
    position: absolute;
  }
  .web-app-account-choice-svg5 {
    top: 469px;
    left: 383px;
    width: 10;
    height: 10;
    position: absolute;
  }
  .web-app-account-choice-svg6 {
    top: 411px;
    left: 383px;
    width: 10;
    height: 10;
    position: absolute;
  }
  .web-app-account-choice-svg7 {
    top: 411px;
    left: 778px;
    width: 10;
    height: 10;
    position: absolute;
  }
  .web-app-account-choice-text11 {
    top: 399px;
    left: 410px;
    color: var(--dl-color-default-darkgray34085);
    width: 253px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-account-choice-text12 {
    top: 399px;
    left: 805px;
    color: var(--dl-color-default-darkgray34085);
    width: 253px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-account-choice-dark-mode-toggle-dark {
    top: 843px;
    left: 1352px;
    width: 64px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .web-app-account-choice-rectangle1066 {
    top: 0px;
    left: 0px;
    width: 64px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
    background-color: var(--dl-color-default-charcoalf2717);
  }
  .web-app-account-choice-svg8 {
    top: 4px;
    left: 4px;
    width: 24;
    height: 24;
    position: absolute;
  }
  .web-app-account-choice-group1574 {
    top: 4px;
    left: 32px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-account-choice-rectangle1109 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-account-choice-group {
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-account-choice-rectangle1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 72px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: var(--dl-color-default-whiteebaee);
  }
  .web-app-account-choice-team-bond-symbol1 {
    top: 24px;
    left: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .web-app-account-choice-group1 {
    top: -6.729214191436768px;
    left: -6.398842811584473px;
    width: 37px;
    height: 37.453128814697266px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-account-choice-group2 {
    top: 24.295692443847656px;
    left: 0px;
    width: 28px;
    height: 26.31489372253418px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-account-choice-layer1 {
    top: 0px;
    left: 0px;
    width: 28px;
    height: 26px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-account-choice-text13 {
    top: 26px;
    left: 60px;
    color: var(--dl-color-default-charcoalf2717);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 600px;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }