<div>
    <link
      href="./orgSetup.css"
      rel="stylesheet"
    />
    <div>
      <div
        class="web-app-enter-org-details-industrycomplete-web-app-enter-org-details-industrycomplete"
      >
        <span class="web-app-enter-org-details-industrycomplete-text">
          <span>Enter your organisation details</span>
        </span>
        <div class="web-app-enter-org-details-industrycomplete-group967">
          <img
            alt="Rectangle41973666"
            src="/playground_assets/136c01ae-dfb7-4eac-9e81-c94183b09a76-bax8.svg"
            class="web-app-enter-org-details-industrycomplete-svg"
          />
          <span class="web-app-enter-org-details-industrycomplete-text01">
            <a href="../../index.html">Continue</a>
          </span>
        </div>
        <span
          class="web-app-enter-org-details-industrycomplete-text02 roboto-Body1"
        >
            <input type="text">
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text03 roboto-Body1"
        >
          <input type="text">
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text04 roboto-Body1"
        >
            <input type="text">
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text05 roboto-Body1"
        >
            <input type="text">
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text06 roboto-Body1"
        >
            <input type="text">
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text07 roboto-Subtitle2"
        >
          <span>Organisation name *</span>
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text08 roboto-Subtitle2"
        >
          <span>Industry *</span>
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text09 roboto-Subtitle2"
        >
          <span>Values</span>
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text10 roboto-Subtitle2"
        >
          <span>Mission</span>
        </span>
        <span
          class="web-app-enter-org-details-industrycomplete-text11 roboto-Subtitle2"
        >
          <span>Primary Location *</span>
        </span>
       
        <div class="web-app-enter-org-details-industrycomplete-group1575">
          <div class="web-app-enter-org-details-industrycomplete-group1563">
          </div>
          <img
            alt="Vector973689"
            src="/playground_assets/5a1609f8-ade3-4535-80d2-f2c967ab3429-ft9m.svg"
            class="web-app-enter-org-details-industrycomplete-svg1"
          />
        </div>
        <div class="web-app-enter-org-details-industrycomplete-group1578">
          <div class="web-app-enter-org-details-industrycomplete-group15631">
          </div>
          <img
            alt="Vector973897"
            src="/playground_assets/cca717fb-59f6-4957-a5c4-e2f44819dada-pdf.svg"
            class="web-app-enter-org-details-industrycomplete-svg2"
          />
        </div>
        <div
          class="web-app-enter-org-details-industrycomplete-dark-mode-toggle-dark"
        >
          <img
            alt="Rectangle1066I973699936654"
            src="/playground_assets/80b2d2e0-b6b7-400e-b44a-e29983bed65c-ak49.svg"
            class="web-app-enter-org-details-industrycomplete-rectangle1066"
          />
          <img
            alt="Ellipse126I973699936655"
            src="/playground_assets/23eea222-f403-4ab8-bb09-3e9a77d58a85-pkd.svg"
            class="web-app-enter-org-details-industrycomplete-svg3"
          />
          <div class="web-app-enter-org-details-industrycomplete-group1574">
            <img
              alt="Rectangle1109I973699936657"
              src="/playground_assets/a562a53f-400b-4411-90c3-58b776683e81-ud5m-200h.png"
              class="web-app-enter-org-details-industrycomplete-rectangle1109"
            />
            <img
              alt="GroupI973699936658"
              src="/playground_assets/6f88ce2d-0f88-4c9e-ae7f-68194eda8f4a-8qi6.svg"
              class="web-app-enter-org-details-industrycomplete-group"
            />
          </div>
        </div>
        <div class="web-app-enter-org-details-industrycomplete-group1577">
          <div class="web-app-enter-org-details-industrycomplete-group15632">

          </div>
          <img
            alt="Vector973703"
            src="/playground_assets/c788d4d5-556c-4f13-856d-390ca15fbb31-1fbo.svg"
            class="web-app-enter-org-details-industrycomplete-svg4"
          />
        </div>
        <img
          alt="Rectangle1975911"
          src="/playground_assets/ad8042b5-e9d1-4d1e-8394-c8a7c7e6947a-a7h4.svg"
          class="web-app-enter-org-details-industrycomplete-rectangle1"
        />
        <div class="web-app-enter-org-details-industrycomplete-team-bond-symbol1">
          <div class="web-app-enter-org-details-industrycomplete-group1">
            <div class="web-app-enter-org-details-industrycomplete-group2">
              <img
                alt="Layer1975915"
                src="/playground_assets/396d553d-6c6e-4ac1-a5db-d072190176fa-95m7.svg"
                class="web-app-enter-org-details-industrycomplete-layer1"
              />
            </div>
          </div>
        </div>
        <span class="web-app-enter-org-details-industrycomplete-text12">
          <span>TeamBond</span>
        </span>
      </div>
    </div>
  </div>
  