.web-app-createan-account-web-app-createan-account {
    width: 1440px;
    height: 907px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(50, 48, 49, 1);
    border-style: solid;
    border-width: 1px;
    background-color: var(--dl-color-default-whiteebaee);
  }
  .web-app-createan-account-rectangle414 {
    top: 0px;
    left: 1098px;
    width: 342px;
    height: 907px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: var(--dl-color-default-lightpurpled29f0);
  }
  .web-app-createan-account-text {
    top: 282px;
    left: 1134px;
    color: var(--dl-color-default-charcoalf2717);
    width: 270px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 600px;
    line-height: 26px;
    font-stretch: normal;
    text-decoration: none;
  }
  .web-app-createan-account-text01 {
    top: 414px;
    left: 1173px;
    color: var(--dl-color-default-charcoalf2717);
    width: 241px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-createan-account-text02 {
    top: 459px;
    left: 1173px;
    color: var(--dl-color-default-charcoalf2717);
    width: 241px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-createan-account-text03 {
    top: 504px;
    left: 1173px;
    color: var(--dl-color-default-charcoalf2717);
    width: 241px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-createan-account-text04 {
    top: 569px;
    left: 1141px;
    color: var(--dl-color-default-charcoalf2717);
    width: 266px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400px;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .web-app-createan-account-text05 {
    top: 199px;
    left: 264px;
    color: var(--dl-color-default-charcoalf2717);
    width: 569px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 600px;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
  .web-app-createan-account-group967 {
    top: 660px;
    left: 257px;
    width: 560px;
    height: 44px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-svg {
    width: 560;
    height: 44;
    position: absolute;
  }
  .web-app-createan-account-text06 {
    top: 9.33203125px;
    left: 98.96271514892578px;
    color: var(--dl-color-default-darkgray34085);
    width: 367px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto;
    font-weight: 400px;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .web-app-createan-account-text07 {
    top: 616px;
    left: 281px;
    color: var(--dl-color-default-charcoalf2717);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 12px;
    text-decoration: none;
  }
  .web-app-createan-account-text08 {
    top: 568px;
    left: 281px;
    color: var(--dl-color-default-charcoal79f77);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 24px;
    text-decoration: none;
  }

  input{
    width: auto;
  }
  .web-app-createan-account-text8 {
    top: 470px;
    left: 281px;
    color: var(--dl-color-default-charcoal79f77);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
  }

  .web-app-createan-account-text09 {
    top: 356px;
    left: 281px;
    color: var(--dl-color-default-grey38f71);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 24px;
    text-decoration: none;
  }
  .web-app-createan-account-text10 {
    top: 526px;
    left: 257px;
    color: var(--dl-color-default-charcoal79f77);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 18px;
    text-decoration: none;
  }
  .web-app-createan-account-text11 {
    top: 314px;
    left: 257px;
    color: var(--dl-color-default-charcoal79f77);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
  }
  .web-app-createan-account-text12 {
    top: 420px;
    left: 257px;
    color: var(--dl-color-default-charcoal79f77);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
  }
  .web-app-createan-account-svg1 {
    top: 552px;
    left: 538px;
    width: 56;
    height: 1px;
    position: absolute;
  }
  .web-app-createan-account-svg2 {
    top: 353px;
    left: 279px;
    width: 30;
    height: 1px;
    position: absolute;
  }
  .web-app-createan-account-rectangle1103 {
    top: 340px;
    left: 257px;
    width: 560px;
    height: 56px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: rgba(128, 41, 143, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .web-app-createan-account-rectangle1104 {
    top: 446px;
    left: 257px;
    width: 560px;
    height: 56px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: rgba(199, 199, 190, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .web-app-createan-account-rectangle1105 {
    top: 552px;
    left: 257px;
    width: 400px;
    height: 56px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: rgba(199, 199, 190, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .web-app-createan-account-group1563 {
    top: 458px;
    left: 773px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    background-color: rgba(196, 196, 196, 0);
  }
  .web-app-createan-account-group {
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group1567 {
    top: 370px;
    left: 1134px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-group1 {
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group1566 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-rectangle1106 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group1568 {
    top: 415px;
    left: 1134px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-group2 {
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group15661 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-rectangle11061 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group1569 {
    top: 460px;
    left: 1134px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-group3 {
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group15662 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-rectangle11062 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group1570 {
    top: 505px;
    left: 1134px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-group4 {
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group15663 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-rectangle11063 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-text13 {
    top: 369px;
    left: 1173px;
    color: var(--dl-color-default-charcoalf2717);
    width: 241px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    text-decoration: none;
  }
  .web-app-createan-account-group1565 {
    top: 564px;
    left: 669px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-group1564 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-rectangle11064 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group5 {
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-dark-mode-toggle-dark {
    top: 843px;
    left: 1010px;
    width: 64px;
    height: 32px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .web-app-createan-account-rectangle1066 {
    top: 0px;
    left: 0px;
    width: 64px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
    background-color: var(--dl-color-default-charcoalf2717);
  }
  .web-app-createan-account-svg3 {
    top: 4px;
    left: 4px;
    width: 24;
    height: 24;
    position: absolute;
  }
  .web-app-createan-account-group1574 {
    top: 4px;
    left: 32px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-rectangle1109 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-group6 {
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-rectangle1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 72px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-team-bond-symbol1 {
    top: 24px;
    left: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .web-app-createan-account-group7 {
    top: -6.729214191436768px;
    left: -6.398842811584473px;
    width: 37px;
    height: 37.453128814697266px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-group8 {
    top: 24.295692443847656px;
    left: 0px;
    width: 28px;
    height: 26.31489372253418px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .web-app-createan-account-layer1 {
    top: 0px;
    left: 0px;
    width: 28px;
    height: 26px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .web-app-createan-account-text14 {
    top: 26px;
    left: 60px;
    color: var(--dl-color-default-charcoalf2717);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 600px;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
  