<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Employers - TeamBond</title>

    <link href="./../css/index.css" rel="stylesheet">
    <link href="./../css/common.css" rel="stylesheet">
    <link href="./../css/footer.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./../img/logo_symbol.svg">

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <style>
        .tabs-container {
            padding-top: 0px!important
        }
        .background-circle {
            left: 35vw;
            bottom: 0%;
        }
    </style>
</head>

<body>
    <!-- header -->
    <div id="headerContent" class="header-container">
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <a href="../index.html" class="hover pe-4"><img src="../img/logo_dark.svg"></a>
            <input id="menu-toggle" type="checkbox" onclick="menuToggle()"/>
            <label class="menu-button-container" for="menu-toggle">
            <div class="menu-button"></div>
          </label>
            <ul class="d-flex flex-row flex-wrap align-items-center menu">
                <li><a href="employers.html" class="hover link px-4 semi-bold">Employers</a></li>
                <li><a href="jobs.html" class="hover link px-4 semi-bold">Jobs</a></li>
                <li><a href="javascript: void(0)" class="hover link px-4 semi-bold">Pricing</a></li>
                <li><a href="javascript: void(0)" class="hover link px-4 semi-bold">Resources</a></li>
                <li><a href="javascript: void(0)" class="hover link px-4 semi-bold">About Us</a></li>
                <li> <a href="" class="link px-4 semi-bold">Log In</a> </li>
                <li><button class="primary-button button-shadow header-button">Create free account</button></li>
            </ul>
        </div>
    </div>

    <!-- First view after load -->
    <div class="d-flex flex-md-row flex-column align-items-center home-container" id="firstItem">
        <div class="home-left-section pe-md-4">
            <img src="./../img/logo_symbol.svg" class="home-container-logo d-none d-md-block mb-md-4" width="55px"
                height="55px">
            <h1 class="display-4">Build and maintain high functioning teams</h1>
            <p class="dark-gray small-text my-3">TeamBond enables you to build and maintain teams of great people that
                perform well together
            </p>
            <button class="primary-button button-shadow mt-3">Create free account</button>
        </div>
        <div class="home-right-section">
            <img src="./../img/employers/image_employers.png" class="home-image">
        </div>
        <div class="background-circle"></div>
    </div>

    <div class="goals-container d-flex flex-md-row flex-column">
        <div class="d-flex flex-md-column align-items-start align-items-md-center text-md-center">
            <div class="big-square-mark mb-4"></div>
            <div class="ms-4 ms-md-0">
                <h6 class="small-text">Increase team satisfaction</h6>
                <p class="extra-small-text">Understand the people on your team at a deeper level and get advice on how to
                    improve your team's overall satifaction</p>
            </div>

        </div>
        <div class="d-flex flex-md-column align-items-start align-items-md-center text-md-center">
            <div class="big-square-mark mb-4"></div>
            <div class="ms-4 ms-md-0">
                <h6 class="small-text">Better work output</h6>
                <p class="extra-small-text">Team members whose personalities and skills compliment each other lead to better
                    work results</p>
            </div>
        </div>
        <div class="d-flex flex-md-column align-items-start align-items-md-center text-md-center">
            <div class="big-square-mark mb-4"></div>
            <div class="ms-4 ms-md-0">
                <h6 class="small-text">Simpler hiring process</h6>
                <p class="extra-small-text">Organized recruiting process with automated recommendations on candidates who
                    would fit the team best</p>
            </div>
        </div>
    </div>

    <!-- How it works -->
    <div class="tab-content">
        <div class="pink-background tabs-container">
            <div class="custom-nav-tabs d-flex justify-content-center flex-row">
                <h2 class="px-4" style="padding-top: 2.5%">How it works</h2>
            </div>
            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Fill job vacancies with confidencxe</h3>
                    <p>Is your team growing or has someone left? TeamBond can help here.
                        <br /><br />
                        TeamBond provides insights on who would fit your team the best. Not just from skills, education
                        and experience perspective, but also personality, character and motivation as well.
                        <br /><br />
                        Organize and manage the recruitment process using TeamBond to see who are the best candidates
                        for your team and where you are at in the process.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./../img/employers/image_1.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6 order-md-2">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Keep organized with job applications and interviews</h3>
                    <p>Is recruiting or improving your team important to you but you just don't have the time in your
                        busy day? TeamBond provides up-to-date information and allows you to manage your recruiting
                        process more efficiently.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="./../img/employers/image_2.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Get help onboarding successful candidates</h3>
                    <p>Typical onboarding an take up to two weeks. TeamBond's streamlined process provides a more
                        efficient and faster onboarding experience.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./../img/employers/image_3.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6 order-md-2">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Keep updated on team performance</h3>
                    <p>TeamBond gives you a high-level overview so that you can see up-to-date issues and changes on
                        your team. See potential issues and be able to resolve situations and before the problems grow
                        exponentially.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="./../img/employers/image_4.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Get your team members to fill in a quick survey</h3>
                    <p>These surveys help TeamBond understand how each team member prefers to work and how they are
                        currently feeling about their role and their teammates.
                        <br /><br />
                        TeamBond's proviate and confidential surveys help assist you with impvroving your team.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./../img/employers/image_5.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6 order-md-2">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">See the results and potential issues straight away</h3>
                    <p>Results from your team's surveys are mapped on a screenfor you so that you can see any potential
                        issues and areas of improvement.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="./../img/employers/image_6.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Get advice and take action to improve team dynamics</h3>
                    <p>You know your team best, but what if you could make your team even better? TeamBond can suggest
                        ways to help alleviate any problems on the team. These problems could be personality clashes,
                        skill deficiancies, lack of experience, stagnation and many more.
                        <br /><br />
                        TeamBond is here to assist you with getting the best out of your employees.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./../img/employers/image_7.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6 order-md-2">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">See the results of your actions</h3>
                    <p>Over time, you can see how certain actions have changed the dynamics of the team. TeamBond tracks
                        improvements and changes on your team.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="./../img/employers/image_8.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Try new combinations of team members</h3>
                    <p>Agile environments demand continuous improvement. What if you could continuously improve your
                        team? TeamBond allows you to see how you can improve your team by allowing you to drag and drop
                        the best fit workers on your team to create transitional or future teams.
                        <br /><br />
                        See the possibilities of what your team can be.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./../img/employers/image_9.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6 order-md-2">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Move people from team to team to get the best results</h3>
                    <p>TeamBond can predict how well each team member will behave and so it can help rearrange people to
                        get the most out of your team.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="./../img/employers/image_10.png" class="subsection-image">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center ready-section">
        <h2 class="pb-3">Ready to give it a go?</h2>
        <button class="gradient-button button-shadow">Create free account</button>
    </div>

    <!-- footer -->
    <div id="footerContent">
        <div class="charcoal-background footer-container">
            <div class="container-fluid d-flex flex-sm-row flex-column justify-content-center align-items-center footer-subcontainer">
                <div class="footer-image d-flex flex-row justify-content-center align-items-center m-0 px-4 px-md-0">
                    <img src="./../img/logo_symbol.svg">
                    <p class="footer-logo-text text-white mb-0 ms-3">TeamBond</p>
                </div>
                <div class="d-flex flex-column flex-sm-row">
                    <a href="javascript: void(0)" class="link text-white px-4">Privacy Policy</a>
                    <a href="javascript: void(0)" class="link text-white px-4">Terms &amp; Conditions</a>
                    <a href="javascript: void(0)" class="link text-white px-4">Cookie Policy</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>