<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jobs - TeamBond</title>

    <link href="./../css/index.css" rel="stylesheet">
    <link href="./../css/common.css" rel="stylesheet">
    <link href="./../css/footer.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./../img/logo_symbol.svg">

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="../js/index.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <script>
    </script>
</head>

<body>
    <!-- header -->
    <div id="headerContent" class="header-container">
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <a href="../index.html" class="hover pe-4"><img src="../img/logo_dark.png" width="127" height="21"></a>
            <input id="menu-toggle" type="checkbox" onclick="menuToggle()"/>
            <label class="menu-button-container" for="menu-toggle">
            <div class="menu-button"></div>
          </label>
            <ul class="d-flex flex-row flex-wrap align-items-center menu">
                <li><a href="employers.html" class="hover link semi-bold">Employers</a></li>
                <li><a href="jobs.html" class="hover link semi-bold">Jobs</a></li>
                <li><a href="contact.html" class="hover link semi-bold">Contact Us</a></li>
                <li><a href="aboutus.html" class="hover link semi-bold">About Us</a></li>
                <li><button class="primary-button button-shadow header-button">Create free account</button></li>
            </ul>
        </div>
    </div>

    <!-- First view after load -->
    <div class="d-flex flex-md-row flex-column align-items-center home-container" id="firstItem">
        <div class="home-left-section pe-md-4">
            <img src="./../img/logo_symbol.svg" class="home-container-logo d-none d-md-block mb-md-4" width="55px"
                height="55px">
            <h1 class="display-4">Achieve your work-life potential</h1>
            <p class="dark-gray small-text my-3">Find a job that fits how you want to work and who you want to
                work with
            </p>
            <button class="primary-button button-shadow mt-3">Create free account</button>
        </div>
        <div class="home-right-section">
            <img src="./../img/jobs/image_jobs.png" class="home-image">
        </div>
        <div class="background-circle"></div>
    </div>

    <div class="goals-container d-flex flex-md-row flex-column">
        <div class="d-flex flex-md-column align-items-start align-items-md-center text-md-center">
            <div class="big-square-mark mb-4"></div>
            <div class="ms-4 ms-md-0">
                <h6 class="small-text">Learn from others</h6>
                <p class="extra-small-text">See how others have succeeded in their career paths and get help from mentors to
                    get you where you want to go</p>
            </div>

        </div>
        <div class="d-flex flex-md-column align-items-start align-items-md-center text-md-center">
            <div class="big-square-mark mb-4"></div>
            <div class="ms-4 ms-md-0">
                <h6 class="small-text">Find a personality fit</h6>
                <p class="extra-small-text">Apply for jobs that fit the way you want to work with like-minded teammates that
                    work will together</p>
            </div>
        </div>
        <div class="d-flex flex-md-column align-items-start align-items-md-center text-md-center">
            <div class="big-square-mark mb-4"></div>
            <div class="ms-4 ms-md-0">
                <h6 class="small-text">Easy job applications</h6>
                <p class="extra-small-text">TeamBond shows you the best jobs suited to you so that you can quickly and easily
                    apply.</p>
            </div>
        </div>
    </div>

    <!-- How it works -->
    <div class="tab-content">
        <div class="pink-background tabs-container">
            <div class="custom-nav-tabs d-flex justify-content-center flex-row">
                <h2 class="px-4">How it works</h2>
            </div>
            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Tell us a little about yourself</h3>
                    <p>Help TeamBond get to know you better! Answer a quick questionnaire to make usre we are able to
                        recommend the jobs that fit your skills and personality on successful teams.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./../img/jobs/image_1.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6 order-md-2">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">See how other people got to where they are</h3>
                    <p>Career mentorship done right. TeamBond provides you valuable insight on how to map your career
                        based on other's success.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="./../img/jobs/image_2.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Get job recommendations based on your fit</h3>
                    <p>TeamBond will only show you jobs that you would be a good fit for based on your personality,
                        charater and motivation, in addition to your skills, education and experience.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./../img/jobs/image_3.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6 order-md-2">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Apply in seconds</h3>
                    <p>TeamBond's streamlined process allows you to apply to your next role in sesconds. Managers will
                        be alerted that a recommended candidate is interested in your role and can swiftly move you into
                        consideration for their role.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="./../img/jobs/image_4.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">See your application progress</h3>
                    <p>TeamBond provides you with up-to-date information on where you are in the application process. No
                        more black holes and lack of feedback .... you'll know where you stand in the hiring process.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="./../img/jobs/image_5.png" class="subsection-image">
                </div>
            </div>

            <div
                class="container tab-content d-flex flex-column flex-md-row align-items-md-center flex-custom-space-between py-4 py-md-5">
                <div class="col-md-6 order-md-2">
                    <div class="square-mark"></div>
                    <h3 class="pt-4 pb-4">Make sure your new job starts well</h3>
                    <p>TeamBond's simplified onboarding process ensures that your new job starts off in the right
                        direction with faster and more efficient onboarding.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="./../img/jobs/image_6.png" class="subsection-image">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center ready-section">
        <h2 class="pb-3">Ready to give it a go?</h2>
        <button class="gradient-button button-shadow">Create free account</button>
    </div>

    <!-- footer -->
    <div id="footerContent">
        <div class="charcoal-background footer-container">
            <div class="container-fluid d-flex flex-sm-row flex-column justify-content-center align-items-center footer-subcontainer">
                <div class="footer-image d-flex flex-row justify-content-center align-items-center m-0 px-4 px-md-0">
                    <img src="./../img/logo_symbol.svg">
                    <p class="footer-logo-text text-white mb-0 ms-3">TeamBond</p>
                </div>
                <div class="d-flex flex-column flex-sm-row">
                    <a href="javascript: void(0)" class="link text-white px-4">Privacy Policy</a>
                    <a href="javascript: void(0)" class="link text-white px-4">Terms &amp; Conditions</a>
                    <a href="javascript: void(0)" class="link text-white px-4">Cookie Policy</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>